/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  /* Use flexbox to center content */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 100vh; /* Ensure full viewport height */
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif; /* Ensure consistent font */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
main {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  width: 440px;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}
p {
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  text-align: center;
}
img {
  padding-top: 1rem;
  margin: auto;
  border-radius: 1rem;
}
